<%- include ('../partials/header') %> <%- include ('../partials/navbar') %>
        <main>
            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading-center">Welcome to BuffTraffic!</h1>
                    <p class="lead">Favorites</p>
                </div>
            </section>
            <div class="container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="https://via.placeholder.com/400x600" class="card-img-top" alt="Weight Room">
                                <div class="card-body">
                                    <h5 class="card-title">Weight Room</h5>
                                    <p class="card-text">The weight room at the rec center is my favorite place to get a
                                        good workout</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="https://via.placeholder.com/400x600" class="card-img-top" alt="Stretching/Ab Area">
                                <div class="card-body">
                                    <h5 class="card-title">Stretching/Ab Area</h5>
                                    <p class="card-text">The yoga room at the rec center is my favorite place to workout my abs 
                                        and stretch</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="https://via.placeholder.com/400x600" class="card-img-top" alt="Yoga Room">
                                <div class="card-body">
                                    <h5 class="card-title">Buffalo Pool</h5>
                                    <p class="card-text">The Buff Pool is a perfect way to end a workout and get some extra
                                    cardio in</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include ('../partials/footer') %>
