<%- include ('../partials/header') %> <%- include ('../partials/navbar') %>

        <head>
            <style>
                .card {
                    position: relative;
                    bottom: -100%;
                    animation: slide-up 0.75s ease-out forwards;
                }

                @keyframes slide-up {
                    to {
                        bottom: 0;
                    }
                }

                .star-icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 10px;
                }

                .star-icon i {
                    color: gold;
                }
            </style>
            <link rel="stylesheet" href="../resources/css/style.css">

            <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->

            <title>Home</title>
        </head>

        <body>
            <section class="jumbotron text-center">
                <div style="padding-bottom: 50px; padding-top: 20px;" class="container">
                    <h1 class="jumbotron-heading-center">Welcome to BuffTraffic!</h1>
                </div>
            </section>
            <div class="container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../resources/img/RecMainWeightRoom.jpg" class="card-img-top"
                                    alt="Weight Room">
                                <div class="star-icon">
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">Weight Room</h5>
                                    <p class="card-text">The weight room at the rec center is my favorite place to get a
                                        good workout</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../resources/img/RecRockWall.jpg" class="card-img-top"
                                    alt="Stretching/Ab Area">
                                <div class="star-icon">
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">Rock Wall</h5>
                                    <p class="card-text">CU's rock climbing wall is a fun way to improve strength
                                        both physically and mentally!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../resources/img/RecPool.jpg" class="card-img-top" alt="Yoga Room">
                                <div class="star-icon">
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">Buffalo Pool</h5>
                                    <p class="card-text">The Buff Pool is a perfect way to end a workout and get some
                                        extra
                                        cardio in</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>


        <%- include ('../partials/footer') %>
