<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<main>
    <div class="container">
          <form action="/login" method="POST">
              <br><h1>Login</h1><br>
              <div class="card border-light mb-3" style="max-width: 700px;">
                <div class="row mb-3">
                    <div class="col-sm-2">
                        <label for="email" class="form-label">Email  </label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" name="email" class="form-control" id="email" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-2">
                        <label for="password" class="form-label">Password  </label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" name="password" class="form-control" id="password" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <input type="submit" class="btn btn-primary float-right" value="login">
                    </div>
                </div>
            </div>
        </form>
        </div>
</main>


<%- include ('../partials/footer') %>

