<header>
    <style>
        .navbar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            /* background-color: #3c3b3b; */
            background-image: linear-gradient(15deg, #403f3f 0%, #575757 100%);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .logo{
            display: flex;
            align-items: center;
        }
        .logo-text{
            color: #ffe100;
            font-weight: bold;
            margin-left: 1rem;
            /* font-family: 'Times New Roman'; */
        }
        .nav-links ul {
            list-style: none;
            display: flex;
        }
        .nav-links li {
            margin-left: 1rem;
        }
        .nav-links a {
            text-decoration: none;
            color: #ffe100;
            font-weight: bold;
            padding: 0.5rem;
            border-radius: 5px;
            font-size: large;
        }
        .nav-links a:hover {
        background-color: #efefef;
        color: #393939;
    }

    </style>
    <nav class="navbar">
        <div class="logo">
            <img src="../../resources/img/BT-Icon-v2.png" style="width: 60px" alt="Logo">
            <h2 class="logo-text">Buff Traffic</h2>
        </div>
        <div class="nav-links">
          <ul>
            <li><a href="/home">Home</a></li>
            <% if(loggedIn == undefined){ %>
                <li><a href="/login">Login</a></li>
                <% } else{ %> 
                    <li><a href="/profile">Profile</a></li> 
                    <li><a href="/logout">Logout</a></li>
             <% } %>
          </ul>
        </div>
      </nav>
</header>