<header>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h5 class="text-white h4">Put stuff here</h5>
            <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
    </div>
    <nav id="navbar">
            <a class="navbar-brand"><img src="#" style="width: 25px" alt="Logo"></a>
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#" >Profile</a> </li>
    </nav>
</header>