<header>
    <style>
        .navbar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            background-color: #3c3b3b;
            /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
        }
        .nav-links ul {
            list-style: none;
            display: flex;
        }
        .nav-links li {
            margin-left: 1rem;
        }
        .nav-links a {
            text-decoration: none;
            color: #ffe100;
            font-weight: bold;
            padding: 0.5rem;
            border-radius: 5px;
        }

    </style>
    <nav class="navbar">
        <div class="logo">
            <img src="../../resources/img/BT-Icon-v2.png" style="width: 50px" alt="Logo">
            <!-- <p>Buff Traffic</p> -->
        </div>
        <div class="nav-links">
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="#">Profile</a></li>
            <!-- <li><a href="/logout">Logout</a></li>
            <li><a href="/login">Login</a></li> -->
        
            <% if(loggedIn != ''){ %>
                <li><a href="/logout">Logout</a></li>
              <% } else{ %>  
                <li><a href="/login">Login</a></li>
             <% } %>


          </ul>
        </div>
      </nav>
</header>