<header>
    <style>
        #navbar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            background-color: #242323;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        #nav-links ul {
            list-style: none;
            display: flex;
        }
        #nav-links li {
            margin-left: 1rem;
        }
        #nav-links a {
            text-decoration: none;
            color: #ffd900;
            font-weight: bold;
            padding: 0.5rem;
            border-radius: 5px;
        }
    </style>
    <nav id="navbar">
        <div class="logo">
            <img src="../../resources/img/BT-Icon-v2.png" style="width: 50px" alt="Logo">
        </div>
        <div id="nav-links">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
          </ul>
        </div>
      </nav>
</header>